body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: #0000ee;
}
h1, h2 {
	font-weight: normal;
	border-bottom: thin dotted #888888;
}
h1 {
	font-size: 170%;
}
h2 {
	font-size: 130%;
}
blockquote {
	font-style: italic;
}