div.first {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
 }
div.second {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.third {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.fourth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.fifth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.sixth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}

div.seventh {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.eighth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.ninth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.tenth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.eleventh {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}

div.twelfth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.thirteenth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.fourteenth {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.ff {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.sx {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.st {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.et {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.nn {
	width: 21%;
  height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
div.tw {
	width: 21%;
	height: 17%;
  background-color: white;
  padding: 0 0 50px 20px;
  border: #00425E solid 1px;
  border-radius: 10px;
  margin: 0 20px 20 0px;;
  float:left;
}
